
    <div class="row seven columns box center">
       
            <h1>Greeted names</h1>

            <p><strong>Hi {{username}}, you have been greeted {{namecount}} time(s)</strong></p>
        </div>
 