
        <nav class="row eleven columns center box">
      <ul class="main">
        <li><a class="main" href="/">Back to Home Page</a></li>
        <li><a class="main" href="/greeted">View greeted Users</a></li>
      
      </ul>
    
    </nav>
    <div class="row eleven columns greet_box center">
       
            <h1>Greeted names</h1>
            

            <p ><strong>Hi <span style="color:rgb(197, 117, 25);">{{username}}</span>, you have been greeted <span style="color:rgb(197, 117, 25);">{{namecount}}</span>  time(s)</strong></p>
        </div>

       
 