h1{
  color: rgb(128, 12, 12);
}
h1.greet{
  color: rgb(128, 12, 12);
}
.box {
    padding: 0.40em;
    border-radius : 0.5em;
    border : 1px solid #ddd;
    height: auto;
    margin-bottom: 1em;
    margin-top: 20px;
    background-color: #EFC050;
  }
  .greet_box {
    padding: 0.40em;
    border-radius : 0.5em;
    border : 1px solid #ddd;
    height: auto;
    background-color: #EFC050;
    justify-content: center;
  }
  .users{
    width: 190px;
    border: 2px solid #800a0a;
    padding: 5px;
    margin-top: 5px; 
    background-color:chocolate;
    border-radius: 7px; 
    font-size:medium;
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    text-align: center;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    white-space: nowrap;
    border-radius: 4px !important;
    border: 1px solid #bbb;
    box-sizing: border-box; 
    height: 40px;
    
   }
   .users:hover{
    background-color: #db8f1e;
    border: 2px solid #db8f1e;
   }
   a.users {
    color: black !important;
     text-decoration: none;
     background-color: #db8f1e;
     
  }
a#greeted{
  color: white;
}
ul.main{
  list-style-type: none;
  margin: 0; 
  overflow: hidden; 
  background-color: rgb(128, 12, 12);
  margin-left: auto; 
  margin-right: auto;
}

li.greet{
  background-color: rgb(175, 108, 31); 
  justify-content: center; 
  list-style-type: none;
}
ul.greet{
  justify-content: center;
}
li.main {
  float: left; 
  padding: 10px 10px 10px 100px;  
}

a.agreet:hover {
  color: black ;
   padding: 10px;  
   text-decoration: none;
   background-color: #db8f1e;
   
}

a.main{
  color: white; 
   text-decoration: none;
   padding: 5px 40px 20px 40px;
}

li a:hover {
  background-color: #c58f11; 
}

span{
  font-size: large;
}
label{
  font-size: large;
}
.greetMsg{
  font-size: large;
}
.getCounter{
  font-size: large;
  font-style: oblique;
  padding: 20px;
}
.message{
  color: red ;
  font-weight: bold;
}
.success_message{
  color:brown ;
  font-weight: bold;
}
.delete_btn{
  background-color: red;
  border-radius: 3px solid #db8f1e
}
