h1{
  color: rgb(128, 12, 12);
}
h1.greet{
  color: rgb(128, 12, 12);
}
.box {
    padding: 0.40em;
    border-radius : 0.5em;
    border : 1px solid #ddd;
    height: auto;
    margin-bottom: 1em;
    margin-top: 20px;
    background-color: #EFC050;
  }
  .greet_box {
    padding: 0.40em;
    border-radius : 0.5em;
    border : 1px solid #ddd;
    height: auto;
    background-color: #EFC050;
    justify-content: center;
  }
  .users{
    width: 300px;
    border: 2px solid #800a0a;
    padding: 5px;
    margin-top: 5px; 
    background-color: #800a0a;
    border-radius: 7px ; 
    font-size: large;
   }
   .users:hover{
    background-color: #db8f1e;
    border: 2px solid #db8f1e
   }
a#greeted{
  color: white;
}
ul.main{
  list-style-type: none;
  margin: 0; 
  overflow: hidden; 
  background-color: rgb(128, 12, 12);
  margin-left: auto; 
  margin-right: auto;
}

li.greet{
  background-color: rgb(211, 167, 117); 
  /* padding: 20px 20px 20px 20px;  */
  /* text-align:center; */
  justify-content: center; 
  list-style-type: none;
  /*float: right; */
}
ul.greet{
  justify-content: center;
}
li.main {
  float: left; 
  padding: 10px 10px 10px 100px;  
}

a.agreet:hover {
  color: black;
   padding: 10px;  
   text-decoration: none;
   background-color: #db8f1e;
   
}
a.main{
  color: white; 
   text-decoration: none;
   padding: 5px 40px 20px 40px;
}

li a:hover {
  background-color: #c58f11; 
}

span{
  font-size: large;
}
label{
  font-size: large;
}
.greetMsg{
  font-size: large;
}
input
{
  font-size: large;
}
.getCounter{
  font-size: large;
  font-style: oblique;
}
.message{
  color: red ;
  font-weight: bold;
}