h1{
  color: rgb(128, 12, 12);
}
.box {
    padding: 0.75em;
    border-radius : 0.5em;
    border : 1px solid #ddd;
    height: auto;
    margin-bottom: 1em;
    margin-top: 20px;
    background-color: #EFC050;
    
  }
  .navbar{
    padding: 0.75em;
     margin-bottom: 1em;
    margin-top: 20px;   
}

ul .menu{
margin-left: auto;
margin-right: auto;
}

ul {
  list-style-type: none;
  margin: 0; 
  padding-right: 100; 
  overflow: hidden; 
  background-color: rgb(128, 12, 12);
}

li {
  float: left; 
}

li a {
  display:block;
  color: white;
  text-align: center;
   padding: 14px 16px ; 
   padding-left: 40px;
   padding-right: 50px;
   padding-top: 20px;
  text-decoration: none;
}

li a:hover {
  background-color: #EFC050;
  padding-top: 20px;

}
 .users{
  width: 300px;
  border: 2px solid #800a0a;
  padding: 5px;
  margin-top: 5px; 
  background-color: #800a0a;
  border-radius: 7px ; 
  font-size: large;
 }
 .users:hover{
  background-color: #db8f1e;
  border: 2px solid #db8f1e
 }
 /* a:hover, a:active {
  background-color: #EFC050;
} */
ul .greetedNames{
  background-color: greenyellow;
  
  
}
span{
  font-size: large;
}
label{
  font-size: large;
}
.greetMsg{
  font-size: large;
}
input
{
  font-size: large;
}
.getCounter{
  font-size: large;
  font-style: oblique;
}
.message{
  color: red ;
  font-weight: bold;
}